.cabecalho{
  height: 100px;
  
}
.cabecalho ul{
padding-top: 40px;
 text-align: center;
}
.cabecalho ul li{
  display: inline;
  margin-left: 50px;  
 }
.cabecalho ul li a{
  color: #551a8b;
  text-decoration: none;
  font-size: large;
 }
.cabecalho ul li a:hover{
  color: #ab82ff;
  transition: 0.2s ease-in;
}
.register{
  padding: 10px;
  border-style: solid;
  border-width: medium;
  border-color: #551a8b;
}
.principal{
    height: 700px;
    text-align: center;
    padding-top:100px;
    padding-bottom: 100px;
    background-image: url("https://escrevergay.files.wordpress.com/2015/06/maos-dadas-casal-lgbt-preconceito.jpg?w=500");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
  
}
.principal h1{
  font-family: 'Allura', cursive;
  font-size: 50px;
  padding-top: 30px;
}
.casamento{
  font-size: 85px;
  padding-top: 30px;
}
.data{
  font-size: 20px;
  padding-top: 50px;
}
.principal button{
  margin-top: 100px;
  background-color: #551a8b;
  border-style: none;
  width: 100px;
  height: 50px;
}
.principal button a{
  text-decoration: none;  
  color:white;
}
footer{
  color: #ffffff;
  padding: 20px;
  background-color: #1c1c1c;
}
footer p{
  text-align: center;
  
}


/*festa*/
.madrinhas{
  text-align: center;
  color: #8b814c;
  padding: 60px;
  clear:both;
  background-color: #bbffff;
  height: 1100px;
 }
.padrinhos{
  text-align: center;
  color: #8b814c;
  padding: 60px;
  clear:both;
}
.madrinhas h2,
.padrinhos h2{
  padding-top: 50px;
  font-size: 40px;
  font-style: italic;
  font-family: 'Allura', cursive;
}
.titulo img{
  width: 70px;
  height: 55px;
}
.madrinhas p,
.padrinhos p{
  font-size: 20px;
}
.titulo{
  padding-bottom: 30px;
}
footer{
  clear: left;
}
.imagens-madrinhas,
.imagens-padrinhos{
  margin-left: 80px;
}
.padrinhos h2{
  margin-bottom: 40px;
}
.imagens-madrinhas img,
.imagens-padrinhos img{
  width: 280px;
  height: 260px;
 }
.img{
  width: 280px;
  float: left;
  margin: 20px;
  padding-bottom: 60px;
}
.img p{
  padding: 10px;
}

